button {
    --purple: #b37cd1;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.8em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--purple);
    background: linear-gradient(to right, rgba(185, 27, 253, 0.1) 1%, transparent 40%,transparent 60% , rgba(253, 27, 249, 0.1) 100%);
    color: var(--purple);
    box-shadow: inset 0 0 10px rgba(229, 219, 232, 0.4), 0 0 9px 3px rgba(204, 27, 253, 0.1);
  }
  
  button:hover {
    color: #de82ff;
    box-shadow: inset 0 0 10px rgba(230, 27, 253, 0.6), 0 0 9px 3px rgba(208, 27, 253, 0.2);
  }
  
  button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(181, 27, 253, 0.1) 40%,rgba(219, 27, 253, 0.1) 60% , transparent 100%);
  }
  
  button:hover:before {
    transform: translateX(15em);
  }
  /* Media Queries for Responsiveness */

@media (max-width: 768px) {
    button {
      font-size: 13px; /* Decrease font size */
      padding: 0.6em 2.2em; /* Adjust padding */
    }
  }
  
  @media (max-width: 576px) {
    button {
      font-size: 12px; /* Further decrease font size */
      padding: 0.5em 2em; /* Further adjust padding */
    }
  }
  
  @media (max-width: 400px) {
    button {
      font-size: 15px; /* Smallest font size */
      padding: 0.4em 1.5em; /* Smallest padding */
    }
  }